---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/theodi/useless-gem/git/refs?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: UTF-8
      string: '{"ref":"refs/tags/9.1.7","sha":"5c0f9870359e7a290ced48836ec4edde3c536490"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4749'
      X-Ratelimit-Reset:
      - '1457539333'
      Etag:
      - '"9b39dc5f4957d92d1c3c379f33d697a6"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/theodi/useless-gem/git/refs/tags/9.1.7
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/tags/9.1.7","url":"https://api.github.com/repos/theodi/useless-gem/git/refs/tags/9.1.7","object":{"sha":"5c0f9870359e7a290ced48836ec4edde3c536490","type":"commit","url":"https://api.github.com/repos/theodi/useless-gem/git/commits/5c0f9870359e7a290ced48836ec4edde3c536490"}}'
  recorded_at: Wed, 09 Mar 2016 15:55:29 GMT
- request:
    method: post
    uri: https://api.github.com/repos/theodi/useless-gem/git/refs?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: UTF-8
      string: '{"ref":"refs/tags/9.1.7","sha":"5c0f9870359e7a290ced48836ec4edde3c536490"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4748'
      X-Ratelimit-Reset:
      - '1457539333'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Reference already exists","documentation_url":"https://developer.github.com/v3/git/refs/#create-a-reference"}'
  recorded_at: Wed, 09 Mar 2016 15:55:29 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/theodi/useless-gem/git/refs/tags/9.1.7?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4747'
      X-Ratelimit-Reset:
      - '1457539333'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 09 Mar 2016 15:55:30 GMT
recorded_with: VCR 3.0.1
