---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/theodi/useless-gem/git/refs?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: UTF-8
      string: '{"ref":"refs/tags/9.1.7","sha":"5c0f9870359e7a290ced48836ec4edde3c536490"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1457607113'
      Etag:
      - '"9b39dc5f4957d92d1c3c379f33d697a6"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/theodi/useless-gem/git/refs/tags/9.1.7
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/tags/9.1.7","url":"https://api.github.com/repos/theodi/useless-gem/git/refs/tags/9.1.7","object":{"sha":"5c0f9870359e7a290ced48836ec4edde3c536490","type":"commit","url":"https://api.github.com/repos/theodi/useless-gem/git/commits/5c0f9870359e7a290ced48836ec4edde3c536490"}}'
  recorded_at: Thu, 10 Mar 2016 10:47:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/theodi/useless-gem/tags?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1457607113'
      Etag:
      - W/"24bbaeaf3d1db4ac93a01ce5ef2b129c"
      Last-Modified:
      - Wed, 09 Mar 2016 14:29:34 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"9.1.7","zipball_url":"https://api.github.com/repos/theodi/useless-gem/zipball/9.1.7","tarball_url":"https://api.github.com/repos/theodi/useless-gem/tarball/9.1.7","commit":{"sha":"5c0f9870359e7a290ced48836ec4edde3c536490","url":"https://api.github.com/repos/theodi/useless-gem/commits/5c0f9870359e7a290ced48836ec4edde3c536490"}}]'
  recorded_at: Thu, 10 Mar 2016 10:47:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/theodi/useless-gem/git/commits/5c0f9870359e7a290ced48836ec4edde3c536490?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1457607113'
      Etag:
      - W/"be36c48cf7ae7a38c93602b99496101e"
      Last-Modified:
      - Wed, 09 Mar 2016 14:48:24 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"5c0f9870359e7a290ced48836ec4edde3c536490","url":"https://api.github.com/repos/theodi/useless-gem/git/commits/5c0f9870359e7a290ced48836ec4edde3c536490","html_url":"https://github.com/theodi/useless-gem/commit/5c0f9870359e7a290ced48836ec4edde3c536490","author":{"name":"pezholio","email":"pezholio@gmail.com","date":"2016-03-09T14:48:24Z"},"committer":{"name":"pezholio","email":"pezholio@gmail.com","date":"2016-03-09T14:48:24Z"},"tree":{"sha":"fe036e87bc91649147f7b0c29aa3ab5e0d5d2720","url":"https://api.github.com/repos/theodi/useless-gem/git/trees/fe036e87bc91649147f7b0c29aa3ab5e0d5d2720"},"message":"Version
        TO THE EXTREME","parents":[{"sha":"a5a5143d6536f1bb56016ce93bf34855b088aed9","url":"https://api.github.com/repos/theodi/useless-gem/git/commits/a5a5143d6536f1bb56016ce93bf34855b088aed9","html_url":"https://github.com/theodi/useless-gem/commit/a5a5143d6536f1bb56016ce93bf34855b088aed9"}]}'
  recorded_at: Thu, 10 Mar 2016 10:47:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/theodi/useless-gem/issues?access_token=<GITHUB_OUATH_TOKEN>&filter=all&labels&state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1457607113'
      Etag:
      - '"285456a8115cfc09519ccfaff6fdd046"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 10 Mar 2016 10:47:11 GMT
- request:
    method: get
    uri: https://api.github.com/repos/theodi/useless-gem/pulls?access_token=<GITHUB_OUATH_TOKEN>&state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1457607113'
      Etag:
      - '"285456a8115cfc09519ccfaff6fdd046"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 10 Mar 2016 10:47:11 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/theodi/useless-gem/git/refs/tags/9.1.7?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1457607113'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 10 Mar 2016 10:47:12 GMT
recorded_with: VCR 3.0.1
