---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/theodi/useless-gem/git/refs?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: UTF-8
      string: '{"ref":"refs/tags/9.1.7","sha":"5c0f9870359e7a290ced48836ec4edde3c536490"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1457607113'
      Etag:
      - '"9b39dc5f4957d92d1c3c379f33d697a6"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/theodi/useless-gem/git/refs/tags/9.1.7
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/tags/9.1.7","url":"https://api.github.com/repos/theodi/useless-gem/git/refs/tags/9.1.7","object":{"sha":"5c0f9870359e7a290ced48836ec4edde3c536490","type":"commit","url":"https://api.github.com/repos/theodi/useless-gem/git/commits/5c0f9870359e7a290ced48836ec4edde3c536490"}}'
  recorded_at: Thu, 10 Mar 2016 10:47:16 GMT
- request:
    method: get
    uri: https://api.github.com/repos/theodi/useless-gem/tags?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1457607113'
      Etag:
      - W/"24bbaeaf3d1db4ac93a01ce5ef2b129c"
      Last-Modified:
      - Wed, 09 Mar 2016 14:29:34 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"9.1.7","zipball_url":"https://api.github.com/repos/theodi/useless-gem/zipball/9.1.7","tarball_url":"https://api.github.com/repos/theodi/useless-gem/tarball/9.1.7","commit":{"sha":"5c0f9870359e7a290ced48836ec4edde3c536490","url":"https://api.github.com/repos/theodi/useless-gem/commits/5c0f9870359e7a290ced48836ec4edde3c536490"}}]'
  recorded_at: Thu, 10 Mar 2016 10:47:17 GMT
- request:
    method: get
    uri: https://api.github.com/repos/theodi/useless-gem/git/commits/5c0f9870359e7a290ced48836ec4edde3c536490?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1457607113'
      Etag:
      - W/"be36c48cf7ae7a38c93602b99496101e"
      Last-Modified:
      - Wed, 09 Mar 2016 14:48:24 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"5c0f9870359e7a290ced48836ec4edde3c536490","url":"https://api.github.com/repos/theodi/useless-gem/git/commits/5c0f9870359e7a290ced48836ec4edde3c536490","html_url":"https://github.com/theodi/useless-gem/commit/5c0f9870359e7a290ced48836ec4edde3c536490","author":{"name":"pezholio","email":"pezholio@gmail.com","date":"2016-03-09T14:48:24Z"},"committer":{"name":"pezholio","email":"pezholio@gmail.com","date":"2016-03-09T14:48:24Z"},"tree":{"sha":"fe036e87bc91649147f7b0c29aa3ab5e0d5d2720","url":"https://api.github.com/repos/theodi/useless-gem/git/trees/fe036e87bc91649147f7b0c29aa3ab5e0d5d2720"},"message":"Version
        TO THE EXTREME","parents":[{"sha":"a5a5143d6536f1bb56016ce93bf34855b088aed9","url":"https://api.github.com/repos/theodi/useless-gem/git/commits/a5a5143d6536f1bb56016ce93bf34855b088aed9","html_url":"https://github.com/theodi/useless-gem/commit/a5a5143d6536f1bb56016ce93bf34855b088aed9"}]}'
  recorded_at: Thu, 10 Mar 2016 10:47:17 GMT
- request:
    method: get
    uri: https://api.github.com/repos/theodi/useless-gem/issues?access_token=<GITHUB_OUATH_TOKEN>&filter=all&labels&state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1457607113'
      Etag:
      - '"285456a8115cfc09519ccfaff6fdd046"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 10 Mar 2016 10:47:17 GMT
- request:
    method: get
    uri: https://api.github.com/repos/theodi/useless-gem/pulls?access_token=<GITHUB_OUATH_TOKEN>&state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1457607113'
      Etag:
      - '"285456a8115cfc09519ccfaff6fdd046"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 10 Mar 2016 10:47:18 GMT
- request:
    method: post
    uri: https://api.github.com/repos/theodi/useless-gem/git/blobs?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: UTF-8
      string: '{"content":"# Change Log\n\n## [9.1.7](https://github.com/theodi/useless-gem/tree/9.1.7)
        (2016-03-09)\n\n\n\\* *This Change Log was automatically generated by [github_changelog_generator](https://github.com/skywinder/Github-Changelog-Generator)*","encoding":"utf-8"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1457607113'
      Etag:
      - '"e6e62ee645547ac4634076551fe26597"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/theodi/useless-gem/git/blobs/4e4996ac15e1e1892598852f3d7f9b20fc2acae3
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"4e4996ac15e1e1892598852f3d7f9b20fc2acae3","url":"https://api.github.com/repos/theodi/useless-gem/git/blobs/4e4996ac15e1e1892598852f3d7f9b20fc2acae3"}'
  recorded_at: Thu, 10 Mar 2016 10:47:19 GMT
- request:
    method: get
    uri: https://api.github.com/repos/theodi/useless-gem/git/trees/master?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1457607113'
      Etag:
      - W/"5173979a7eada6ba68bdbd1a1d9f1b8c"
      Last-Modified:
      - Wed, 09 Mar 2016 14:29:34 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"f1fa029c8e262a8af002146768f9d2534fd5cab5","url":"https://api.github.com/repos/theodi/useless-gem/git/trees/f1fa029c8e262a8af002146768f9d2534fd5cab5","tree":[{"path":".gitignore","mode":"100644","type":"blob","sha":"0cb6eeb0676e0d425ed7ddc8b444bb8bbb9a9797","size":87,"url":"https://api.github.com/repos/theodi/useless-gem/git/blobs/0cb6eeb0676e0d425ed7ddc8b444bb8bbb9a9797"},{"path":".rspec","mode":"100644","type":"blob","sha":"8c18f1abdd4147f400c02b45e57297449ae4bc43","size":31,"url":"https://api.github.com/repos/theodi/useless-gem/git/blobs/8c18f1abdd4147f400c02b45e57297449ae4bc43"},{"path":".travis.yml","mode":"100644","type":"blob","sha":"152a34173d2afa17582f68516b928dd706e520bc","size":76,"url":"https://api.github.com/repos/theodi/useless-gem/git/blobs[...]
- request:
    method: post
    uri: https://api.github.com/repos/theodi/useless-gem/git/trees?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: UTF-8
      string: '{"base_tree":"f1fa029c8e262a8af002146768f9d2534fd5cab5","tree":[{"path":"CHANGELOG.md","mode":"100644","type":"blob","sha":"4e4996ac15e1e1892598852f3d7f9b20fc2acae3"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-R[...]
- request:
    method: get
    uri: https://api.github.com/repos/theodi/useless-gem/branches/master?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1457607113'
      Etag:
      - W/"0cbd0e0b313f52a3780f1604fa926f36"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"master","commit":{"sha":"f1fa029c8e262a8af002146768f9d2534fd5cab5","commit":{"author":{"name":"ODI
        Robot","email":"odi-robot@users.noreply.github.com","date":"2016-03-09T15:55:39Z"},"committer":{"name":"ODI
        Robot","email":"odi-robot@users.noreply.github.com","date":"2016-03-09T15:55:39Z"},"message":"Updated
        CHANGELOG.md [ci skip]","tree":{"sha":"c5925ec4fcfb79d1197f0c5ab7fe45ecc1f978aa","url":"https://api.github.com/repos/theodi/useless-gem/git/trees/c5925ec4fcfb79d1197f0c5ab7fe45ecc1f978aa"},"url":"https://api.github.com/repos/theodi/useless-gem/git/commits/f1fa029c8e262a8af002146768f9d2534fd5cab5","comment_count":0},"url":"https://api.github.com/repos/theodi/useless-gem/commits/f1fa029c8e262a8af002146768f9d2534fd5cab5","html_url":"https://github.com/theodi/useless-gem/commit/f1fa029c8e262a8af002146768f9d2534fd5cab5","comments_url":"https://api.github.com/repos/theodi/useless-gem/commits/f1fa029c8e262a8af002146768f9d2534fd5cab5/comments","author":{"login":"odi-robot","id":3439860,"avatar_url":"https://avatars.githubusercontent.com/u/3439860?v=3","gravatar_id":"","url":"https://api.github.com/users/odi-robot","html_url":"https://github.com/odi-robot","followers_url":"https://api.github.com/users/odi-robot/followers","following_url":"https://api.github.com/users/odi-robot/following{/other_user}","gists_url":"https://api.github.com/users/odi-robot/gists{/gist_id}","starred_url":"https://api.github.com/users/odi-robot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/odi-robot/subscriptions","organizations_url":"https://api.github.com/users/odi-robot/orgs","repos_url":"https://api.github.com/users/odi-robot/repos","events_url":"https://api.github.com/users/odi-robot/events{/privacy}","received_events_url":"https://api.github.com/users/odi-robot/received_events","type":"User","site_admin":false},"committer":{"login":"odi-robot","id":3439860,"avatar_url":"https://avatars.githubusercontent.com/u/3439860?v=3","gravatar_id":"","url":"https://api.github.com/users/odi-robot","html_url":"https://github.com/odi-robot","followers_url":"https://api.github.com/users/odi-robot/followers","following_url":"https://api.github.com/users/odi-robot/following{/other_user}","gists_url":"https://api.github.com/users/odi-robot/gists{/gist_id}","starred_url":"https://api.github.com/users/odi-robot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/odi-robot/subscriptions","organizations_url":"https://api.github.com/users/odi-robot/orgs","repos_url":"https://api.github.com/users/odi-robot/repos","events_url":"https://api.github.com/users/odi-robot/events{/privacy}","received_events_url":"https://api.github.com/users/odi-robot/received_events","type":"User","site_admin":false},"parents":[{"sha":"c6b779a7b1e769c67c4740850acdb754d231ef0f","url":"https://api.github.com/repos/theodi/useless-gem/commits/c6b779a7b1e769c67c4740850acdb754d231ef0f","html_url":"https://github.com/theodi/useless-gem/commit/c6b779a7b1e769c67c4740850acdb754d231ef0f"}]},"_links":{"self":"https://api.github.com/repos/theodi/useless-gem/branches/master","html":"https://github.com/theodi/useless-gem/tree/master"}}'
  recorded_at: Thu, 10 Mar 2016 10:47:21 GMT
- request:
    method: post
    uri: https://api.github.com/repos/theodi/useless-gem/git/commits?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: UTF-8
      string: '{"message":"Updated CHANGELOG.md [ci skip]","parents":["f1fa029c8e262a8af002146768f9d2534fd5cab5"],"tree":"2823acea8abc25067d082a749c46fc7f601f808e"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 201
      message: Cr[...]
- request:
    method: patch
    uri: https://api.github.com/repos/theodi/useless-gem/git/refs/heads/master?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: UTF-8
      string: '{"sha":"53e40d40cc3c92af1b39e4a245a0c7c59c26f985"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1457607113'
      Etag:
      - W/"228891a5761cfa907dca0bd69e18b698"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/master","url":"https://api.github.com/repos/theodi/useless-gem/git/refs/heads/master","object":{"sha":"53e40d40cc3c92af1b39e4a245a0c7c59c26f985","type":"commit","url":"https://api.github.com/repos/theodi/useless-gem/git/commits/53e40d40cc3c92af1b39e4a245a0c7c59c26f985"}}'
  recorded_at: Thu, 10 Mar 2016 10:47:22 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/theodi/useless-gem/master/CHANGELOG.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4e4996ac15e1e1892598852f3d7f9b20fc2acae3"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - db02a142fbdfe30270843b87046d8efaeaba259f
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |-
        # Change Log

        ## [9.1.7](https://github.com/theodi/useless-gem/tree/9.1.7) (2016-03-09)


        \* *This Change Log was automatically generated by [github_changelog_generator](https://github.com/skywinder/Github-Changelog-Generator)*
  recorded_at: Thu, 10 Mar 2016 10:47:23 GMT
[...]
- request:
    method: delete
    uri: https://api.github.com/repos/theodi/useless-gem/git/refs/tags/9.1.7?access_token=<GITHUB_OUATH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OUATH_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1457607113'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 10 Mar 2016 10:47:25 GMT
recorded_with: VCR 3.0.1
